/* =========================
   VARIABLES (COLORES Y MEDIDAS)
========================= */
:root {
  --primary: #af6d8f;
  --secondary: #fff;
  --tertiary: #38232e;
  --cuaternary: #000;
  --radius: 10px;
  --transition: 0.25s ease;
}

/* =========================
   RESET BÁSICO
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lora", serif;
  color: var(--secondary);
  font-size: 16px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* =========================
   BACKGROUND
========================= */
.background {
  position: fixed;
  inset: 0;
  z-index: -2;
  background-image: url("./images/nubes.jpg");
}

/* =========================
   CONTENEDOR GENERAL
========================= */
.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

/* =========================
   HEADER
========================= */
.header {
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 1000;
  backdrop-filter: blur(10px);
  text-shadow: -1px 1px 1px var(--cuaternary);
  background: linear-gradient(to bottom right, var(--tertiary), var(--primary));
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

/***** LOGO *****/
.logo {
  display: flex;
  align-items: center;
  gap: 20px;

  .logo-icon {
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    

    img{
      width: 50px;
      height: auto;
    }
  }

  .logo-text {
    font-family: "Petit Formal Script", cursive;

    p {
      font-weight: 600;
    }
  }
}

/*****TOGGLE*****/
#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/***** NAV *****/
nav {
  display: flex;
  gap: 10px;

  ul{
    list-style: none;
    display: flex;
    gap: 10px;

    li a {
      text-decoration: none;
      color: var(--secondary);
      font-size: 20px;
      font-weight: 700;
      
    }

    li a:hover {
      color: var(--accent);
      text-shadow: -1px 1px 1px var(--primary);
    }
  }
}

/* =========================
   SECCIONES
========================= */
.section {
  padding: 30px 0;
}

.section.light {
  background: var(--secondary);
}

/* =========================
   GRID
========================= */
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* =========================
   HERO
========================= */

.hero{
  display: flex;
  height: 720px;
  align-items: center;
  scroll-margin-top: 85px;
}

/* =========================
   CARDS HERO
========================= */
.card {
  height: 550px;
  padding: 30px;
  border-radius: var(--radius);
  background: linear-gradient(to bottom right, var(--tertiary), var(--primary));

  img {
    height: 300px;
    width: 300px;
    border-radius: var(--radius);
  }
}

.first-card {
  width:600px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-shadow: -1px 1px 1px var(--cuaternary);

  h2{
      font-size: 50px;
  }

  p{
      font-size: 30px;
      font-weight: 700;
  }
}

.second-card {
  display: flex;
  flex-direction: column;
  color: var(--secondary);
  gap: 15px;

  h2{
    font-size: 30px;
    text-shadow: -1px 1px 1px var(--cuaternary);
  }

  #boxes{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

/* =========================
   CAJAS DESCUENTOS
========================= */
.box {
  position: relative;
  padding: 10px 30px;
  margin: 10px 0;
  font-size: 17px;
  color: var(--cuaternary);
  background: var(--secondary);
  border-radius: var(--radius);
  border: 2px outset var(--primary);
  
  span:first-of-type{
    margin-right: 10px;
    font-size: 60px;
  }

  span:nth-of-type(2){
    position: absolute;
    top: 20px;
    font-size: 30px;
  }
}

/* =========================
   BOTONES CARD DESCUENTOS
========================= */

.buttons{
  display: flex;
  justify-content: center;
  gap: 30px;

  a {
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    color: var(--cuaternary);
    border-radius: var(--radius);
    transition: var(--transition);
    background: var(--secondary);
    border: 3px outset var(--primary);
    box-shadow: 1px 1px 5px var(--cuaternary);
  }

  a:hover {
    transform: translate( -1px, 1px);
    box-shadow: 1px 1px 1px var(--cuaternary);
  }
}

/* =========================
   DESTINOS
========================= */

#destinos {
  height: 1250px;
  scroll-margin-top: 70px;
  text-shadow: -1px 1px 1px var(--cuaternary);
}

#destinos > .container {
  display: flex;
  flex-direction: column;
  height: 1150px;
  gap:40px;
  
  h2{
    font-size: 50px;
    color: var(--cuaternary);
  }
}


.destination {
  display: flex;
  flex-direction: column;
  height: 330px;
  gap: 10px;
  overflow: hidden;
  cursor: pointer;
  border-radius: var(--radius);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  background: linear-gradient(to bottom right, var(--tertiary), var(--primary));
  
  img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    transition: transform 1s ease;
  }

  #containerCardDestinos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:70px;
    padding: 0px 20px;

    h3 {
      font-size: 25px;
      width: 200px;
    }

    span {
      display: block;
      font-weight: bold;
      font-size: 40px;
    }
  }

  p {
    padding: 0 20px;
    font-size: 18px;
  }
}

.destination:hover {
  transform: translate(3px, -3px);
  box-shadow: -1px 1px 15px var(--cuaternary);

  img {
    transform: scale(1.1);
  }
}

/* =========================
   INFO
========================= */
#info{
  display: flex;
  align-items: center;
  height: 740px;
  scroll-margin-top: 70px;

  .info-list ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    list-style: none;

    li{
      background: linear-gradient(
        to right,
        var(--secondary),
        transparent
      );
      padding: 15px;
      font-weight: 500;
      color: var(--cuaternary);
      border-radius: var(--radius);
      
      p{
        font-size: 20px;
      }

      p:first-child{
        font-size: 30px;
      }
    }
  }

  .info-img {
    height: 600px;
    border-radius: var(--radius);
  }
}

/* =========================
   FORMULARIO
========================= */

#contacto{
  height: 740px;
  color: var(--cuaternary);

  .form-box{
    display: flex;
    flex-direction: column;
    gap: 40px;

    h2{
        font-size: 50px;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      margin: 10px 0px 20px 0px;
      border: 1px solid var(--cuaternary);
      border-radius: var(--radius);
    }

    textarea{
        height: 200px;
    }

    button.submit {
      width: 100%;
      padding: 12px;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
      color: var(--secondary);
      background: var(--primary);
      border-radius: var(--radius);
    }

    .contact-info{
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 40px;
      font-size: 20px;
    }

    .contact-form label {
      margin: 10px;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

/* =========================
   FOOTER
========================= */
footer {
  align-items: center;
  padding: 10px;
  font-weight: 600;
  color: var(--secondary);

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      gap: 30px;
    }
    
    a{
      padding: 5px 10px;
      border-radius: 10px;
      font-weight: 600;
      text-decoration: none;
      color: var(--secondary);
      background: var(--cuaternary);
    }
  }
}

/* ===========TABLET============== */
@media (max-width: 1200px) {

  header {
    .logo {
      gap: 20px;
      .logo-icon{
        width:30px;
      }

      .logo-text {
        font-size: 14px;
      }
    }

    nav ul li a{
      font-size: 14px;
    }
  }

  .container {
    padding: 0 20px;
  }

  .hero {
    scroll-margin-top: 110px;
    flex-direction: column;
    height: auto;
    gap: 30px;
    padding: 40px 0;

    .first-card {
      width: 100%;
      text-align: center;

      h2 {
        font-size: 40px;
      }

      p {
        font-size: 24px;
      }
    }

    .second-card{
      .buttons{
        display: flex;
        flex-direction: row;
        gap: 40px;
      }
    }

    .card {
      height: auto;

      img {
        width: 50%;
        height: auto;
      }
    }
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .grid-3 {
    grid-template-columns: 1fr 1fr;
  }

  #destinos {
    scroll-margin-top: 80px;
    height: auto;

    .container {
      height: auto;
    }
  }

  #info {
    scroll-margin-top: 80px;
    flex-direction: column;
    height: auto;
    gap: 30px;

    .info-img {
      width: 100%;
      height: auto;
    }

    .info-list {
      ul {
        gap: 30px;
      }
    }
  }

  #contacto {
    height: 800px;
  }
}

/* ===========MÓVIL============== */

@media (max-width: 768px) {

  .header {
    height: auto;

    .header-content {
      position: relative;
      justify-content: center;
      height: auto;
      padding: 10px 20px;
      gap: 10%;
    }

    .menu-icon {
      display: block;
    }

    nav {
      position: absolute;
      display: none;
      top: 100%;
      left: 0;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 20px;
      padding: 20px 0;
      background: var(--tertiary);

      ul {
        display: flex;
        flex-direction: column;
        width: 100%;

        li {
          display: block;
          text-align: center;
          padding: 10px;
          margin: 0px 10px;
          border-radius: var(--radius)
        }

        li:hover {
          
          background: var(--primary);
        }

        a:hover {
          text-shadow: -1px 1px 1px var(--primary);
        }
      }
    }

    #menu-toggle:checked ~ nav {
      display: flex;
      
    }
  }

  .hero {
    padding: 20px 0;

    .first-card {

      h2 {
        font-size: 28px;
      }

      p {
        font-size: 18px;
      }
    }

    .second-card{
      .box {
        font-size: 14px;
        padding: 10px 15px;

        span:first-of-type {
          font-size: 40px;
        }

        span:nth-of-type(2) {
          font-size: 20px;
          top: 10px;
        }
      }

      .buttons {
        flex-direction: column;
        gap: 10px;
      }
    }
  }

  

  .grid-3 {
    grid-template-columns: 1fr;
  }

  .destination {
    height: auto;

    img {
      height: 160px;
    }
  }

  #info{
    scroll-margin-top: 100px;

    .info-list {
      ul {
        gap: 30px;

        li {

          p {
            font-size: 16px;
          }

          p:first-child {
            font-size: 22px;
          }
        }
      }
    }
  }

  #contacto {
    scroll-margin-top: 100px;

    .form-box {

      h2 {
        font-size: 32px;
      }

      .contact-info {
        flex-direction: column;
        gap: 10px;
        text-align: center;
      }
    }
  }

  footer {
    .footer-content {
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
  }
}